.mainHeader {
  text-align: center;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 309px 309px 50px 259px 326px 326px 326px 319px 319px 319px 20px;
  padding: 10px;
  box-sizing: border-box;
}
.currentHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  position: relative;
  text-align: center;
  top: 400px;
}
.timeHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
  top: 400px;
}
.numberHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  top: 400px;
}

.days {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  right: 100px;
}

.hours {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  right: 50px;
  bottom: 34px;
}

.minutes {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  left: 15px;
  bottom: 68px;
}

.seconds {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  left: 85px;
  bottom: 102px;
}

.button {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 150px;
  height: 50px;

  justify-self: center;
}

.worksHeader {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
}
.worksParagraph {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  top: 100px;
}

.devHeader {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 2;

  position: relative;
  text-align: center;
}
.lotteryHeader {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
}
.contractHeader {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
}

.winnerHeader {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  top: 125px;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
.ghFooter {
  grid-row-start: 12;
  grid-row-end: 13;
  grid-column-start: 3;
  grid-column-end: 4;

  justify-self: end;
}
