.mainHeader {
  text-align: center;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 600px 50px 600px 350px 20px;
  padding: 10px;
  box-sizing: border-box;
}
.currentHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  position: relative;
  text-align: center;
  top: 400px;
}
.timeHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
  top: 400px;
}
.numberHeader {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  top: 400px;
}
.button {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 150px;
  height: 50px;

  justify-self: center;
}

.worksHeader {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
  top: 230px;
}
.worksParagraph {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;

  position: relative;
  text-align: center;
  top: 300px;
}

.devHeader {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;

  position: relative;
  text-align: center;
}
.lotteryHeader {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
}
.contractHeader {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;

  position: relative;
  text-align: center;
}
.winnerHeader {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  text-align: center;
  top: 125px;
}

.ghFooter {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 4;

  justify-self: end;
}
